body {
    background: #a89bf1;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 460px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    align-items: end;
}

.list-block {
    border: 1px solid #cecece;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    background: #fde5e5;
    margin-right: 20px;
}

.filters-block {
    border: 1px solid #cecece;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    background: #fde5e5;
    margin-right: 20px;
}

.filters-block >input {
    width: 200px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 15px;
}

#list {
    text-align: left;
}

#list .item-purchased {
    text-decoration: line-through;
}

#list li >input[type='checkbox'] {
    float: left;
}

#list >li {
    margin-top: 20px;
}
#list >li >ul >li {
    list-style-type: none;
}

form >input {
    width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
    display: inline-block;
    margin-bottom: 15px;
}

form #add {
    background-color: #2b995b;
    border: 1px solid #217e4a;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 8%);
    color: #fff;
}

.length {
    color: blue;
    font-size: 16px;
}
.buttons {
    display: flex;
}
.buttons button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    display: inline-block;
}

.buttons button:hover {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}